#password_email {
    display: flex !important;
    /* justify-content: center !important ; */
    flex-direction: column !important;
    gap: 1rem !important;
    /* align-items: center; */

}

#username {
    margin-left: 40px;
}

form h1 {
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: black 2px 2px;
    letter-spacing: 2px;
}